.carImg {
  width: 90%;
  max-width: 900px;
  height: auto;
}

.carInfoWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > span {
    width: 100px;
    align-self: center;
  }
}
