.car {
  min-height: 300px;
  border: 1px solid #191919;

  .imgWrapper {
    overflow: hidden;
    img {
      width: 100%;
      height: 40%;
      transition: transform .2s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
  .heading {
    font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    background: #191919;
    padding: 10px;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    .btn {
      color: #191919;
      text-align: center;
      text-decoration: none;
      background: none;
      border-radius: 0;
      border: 3px solid #ff5f00;
      padding: 7px 10px;
      font-size: 1.5rem;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      width: 80%;
      cursor: pointer;
      align-self: center;
      transition: .2s ease-in-out;

      &:hover {
        background: #ff5f00;
        color: #fff;
      }
      &:focus {
        outline: 0;
      }
    }

    .description,
    .price {
      font-size: 1rem;
      font-family: Roboto, sans-serif;
      font-weight: 100;
      margin-bottom: 5px;
    }

    .price {
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
}
