.cars-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px 15px;
  padding: 20px;
}

.car-img-wrapper {
  display: flex;
  justify-content: center;
}
