body{
    background-color: #fff;
    padding: 0;
    margin: 0;

    .App{
        display: grid;
        grid-template: "head" 80px
                       "main" 1fr
                       "foot" 80px
    }

    .content-wrapper{
        grid-area: main;
        min-height: calc(100vh - 160px);
    }
}