header{
    background-color: #ff5f00;
    // padding: 20px;
    grid-area: head;
    font-size: 1.125rem;
    font-family: Roboto Condensed,sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
        margin: 0;
    }
}